/*! 공통 스타일 선언 */

.main-container {
  position: relative;
  width: 100%;
  padding-top: 1px;
}

.content-container {
  width: 70%;
  margin: 100px auto;
  padding-top: 1px;
}

@media (max-width: 768px) {
  .content-container {
    margin-top: 20px;
    width: 95%;
  }
}

a:hover {
  text-decoration: none !important;
}



